.forgetPass__main{
    /* padding: 100px 0; */
    margin: 80px 0;
}
.forgetPass__form__card{
    width: 450px;
    margin: auto;
    padding: 25px;
    border-radius: 25px !important;
    font-family: 'Poppins', sans-serif;
}
@media only screen and (max-width: 600px){
    .forgetPass__form__card{
        width: 100%;
        padding: 10px;
    }
}